---
Accessed Date: {{ v["Accessed Date"] | tojson }}
Published Date: {{ v["Published Date"] | tojson }}
Author: {{ v["Author Wiki"] | tojson }}
Channel: {{ v["Channel Wiki"] | tojson }}
Title: {{ v["Title"] | tojson }}
URL: {{ v["URL"] | tojson }}
Embed URL: {{ v["Embed URL"] | tojson }}
Source: {{ v["Source"] | tojson }}
Type: {{ v["Type"] | tojson }}
Video ID: {{ v["Video ID"] | tojson }}
Summary: {{ v["Summary"] | tojson }}
Topic: {{ v["Topic"] | tojson }}
Tags: {{ v["Tags"] | tojson }}
Status: {{ v["Status"] | tojson }}
Is Useful: {{ v["Is Useful"] | tojson }}
Is Transcribed: {{ v["Is Transcribed"] | tojson }}
Is AI Analyzed: {{ v["Is AI Analyzed"] | tojson }}
Rating: {{ v["Rating"] | tojson }}

---
<iframe
  src="{{ v["Iframe Src"] }}"
  width="500"
  height="889"
  style="border:none;overflow:hidden"
  scrolling="no"
  frameborder="0"
  allowfullscreen="true"
  allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
</iframe>


# My Notes

## 🧠 Key Ideas
- 

## 💬 Quotes Worth Keeping
- 

## 📝 Detailed Notes
- 

## 🧪 Action Items / Experiments that I should Initiate
- 

## 🔁 Links & Resources
- 

---
# AI Analysis

## 🧠 Key Ideas
- 

## 💬 Quotes Worth Keeping
- 

## 📝 Notes
- 

## 🧪 Action Items / Experiments that I should Initiate
- 

## 🔁 Links & Resources
- 

---
# Transcript
{{ v["Transcript"] }}

---
